.facebook-events {
  display: grid;
  margin: auto;
  padding-bottom: 10px;
  grid-template-columns: 1fr;
}

.event-description {
  font-size: 15px;
}

.event-header {
  font-weight: 200;
  text-transform: uppercase;
  margin: 0.3em 0;
}

@media screen and (min-width: 570px) {
  .facebook-events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }

  .event-img {
    max-height: 165px;
  }
}
