/* Hero */
.hero-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height: 50vh;
  padding-left: 10vw;
}

/* Typography */
.main-heading {
  font-size: 63px;
  font-weight: 200;
  text-transform: uppercase;
}

.secondary-heading,
.article-heading {
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}

.avdelning-main-heading {
  font-size: 48px;
  color: #ffffff;
}

.article-heading {
  padding-top: 1em;
}

.tagline {
  font-weight: 500;
  text-transform: none;
  font-size: 16px;
  padding-top: 1rem;
}

.article-text {
  padding-top: 0.7em;
}

/* Frontpage links */

button {
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 6px;
  text-align: center;
  padding: 1em 0;
  margin: 0;
  font-size: 1em;
  text-decoration: underline;
  cursor: pointer;
}

/* Aktuellt loop area */
.article-card {
  background-color: #dad8cc;
}

.article-card:nth-child(even) {
  background-color: #f5f5f5;
}

.article-content {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

/* 
Tablet 
------------------------------------
*/
@media screen and (min-width: 570px) {
  /*Typography */
  h1 {
    font-size: 64px;
  }

  .underrubrik {
    font-size: 32px;
  }

  /*  h2 {
    font-size: 24px;
  }

  /* Hero */
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40vh;
  }

  .hero-container {
    width: 90vw;
    padding-top: 10%;
  }

  .front-page-main {
    padding-top: 1em;
  }

  .carousel-wrapper {
    grid-column: 1 / span 2;
  }

  .aktuellt-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .article-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .menu-item-avd {
    display: none;
  }
}

/* Desktop 
-----------------------------------*/

@media screen and (min-width: 900px) {
  .hero-wrapper {
    height: 50vh;
  }

  .aktuellt-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-top: 1em;
  }
}

/* Large desktop 
------------------------------------*/
@media screen and (min-width: 1100px) {
  .hero-wrapper {
    height: 50vh;
  }
}
