.puppies {
  padding-top: 3em;
  width: 80%;
  margin: auto;
}

.hanvisning-right {
  background-color: #437181;
  color: white;
  padding: 2em;
}

.hanvisning-left {
  background-color: #a1b8c0;
  padding: 2em;
}

.hanvisning-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hanvisning-h1 {
  font-size: 32px;
}

.hanvisningscontent {
  width: 80%;
  margin: auto;
}

.ptb_link_button {
  width: 200px;
  font-size: 14px;
}

@media screen and (min-width: 900px) {
  .hanvisning-wrapper {
    height: 30vh;
  }

  .hanvisning-left {
    background-color: #a1b8c0;
    padding: 2em;
  }
}
