/* Frontpage links */

button {
  font-weight: 400;
  background-color: transparent;
  border: none;
  color: black;
  border-radius: 6px;
  text-align: center;
  padding: 1em 0;
  margin: 0;
  font-size: 1em;
}

/* Aktuellt loop area */
.norra-aktuellt-wrapper,
.norra-page-sidebar {
  background-color: #99acc3;
}

.norra-aktuellt-wrapper:nth-child(even) {
  background-color: #d6dee7;
}

.vastra-aktuellt-wrapper,
.vastra-page-sidebar {
  background-color: #a1b8c0;
}

.vastra-aktuellt-wrapper:nth-child(even) {
  background-color: #d9e3e6;
}

.mellansvenska-aktuellt-wrapper,
.mellansvenska-page-sidebar {
  background-color: #c9c6a5;
}

.mellansvenska-aktuellt-wrapper:nth-child(even) {
  background-color: #e9e8db;
}

.sodra-aktuellt-wrapper,
.sodra-page-sidebar {
  background-color: #dfc99f;
}

.sodra-aktuellt-wrapper:nth-child(even) {
  background-color: #f2ead9;
}

.article-card {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}

/* 
Tablet 
------------------------------------
*/
@media screen and (min-width: 570px) {
  /*Typography */
  h1 {
    font-size: 64px;
  }

  .underrubrik {
    font-size: 32px;
  }

  /*  h2 {
    font-size: 24px;
  }

  /* Hero */
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 40vh;
  }

  .hero-container {
    width: 90vw;
    padding-top: 10%;
  }

  .front-page-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding-top: 1em;
  }

  .article-card {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}

/* Desktop 
-----------------------------------*/

@media screen and (min-width: 900px) {
  .front-page-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    padding-top: 1em;
  }
}
