.page-img {
  object-fit: cover;
  width: 100%;
  max-height: 30vh;
}

.article {
  width: 80%;
  margin: auto;
}

.entry-title {
  font-weight: 200;
  font-size: 32px;
  text-transform: uppercase;
  padding: 1rem 0;
}

.entry-content p {
  padding-bottom: 1rem;
}

.wp-block-heading {
  font-size: 1.1em;
  font-weight: 600;
  text-transform: unset;
}

.page-main {
  margin: auto;
  padding-bottom: 10px;
  width: 80%;
}

.page-sidebar {
  background-color: #dad8cc;
}

.page-ul > li {
  font-size: 12px;
}

.sidebar-content {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  padding: 1rem 0;
}

.sidebar-content a {
  text-decoration: none;
  color: black;
}

.full-width-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any inline-block spacing */
  margin: 0 auto; /* Center the image horizontally */
}

@media screen and (min-width: 570px) {
  .page-section {
    display: flex;
  }

  .page-sidebar {
    width: 40vw;
  }

  .h2 {
    font-size: 1.1em;
    padding-bottom: 1rem;
  }
}
