.page-section {
  display: grid;
  margin: auto;
  padding-bottom: 10px;
  grid-template-columns: 1fr;
}

.full-page-section {
  display: grid;
}

.page-img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 50vh;
}

.entry-title {
  font-weight: 700;
  font-size: 32px;
  padding: 1rem 0;
}

.entry-content p {
  padding-bottom: 1rem;
}

.is-layout-flow p {
  margin-block-start: 0;
}

summary {
  padding: 0.2em;
}

.wp-block-details summary::marker {
  content: '\f345 ';
  font-family: dashicons;
  font-size: 0.7em;
}

.wp-block-details[open] summary::marker {
  content: '\f347  ';
  font-family: 'Dashicons';
  font-size: 0.8em;
}

.wp-block-details {
  padding: 0.3em;
}

.page-sidebar {
  background-color: #dad8cc;
}

.page-sidebar summary {
  font-size: 14px;
}

.page-ul > li {
  font-size: 12px;
}

.sidebar-content {
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
  padding: 1em 0;
}

.sidebar-content a,
.entry-content a {
  text-decoration: underline;
  color: black;
  text-underline-offset: 4px;
}

.sidebar-content h2 {
  font-size: 20px;
  padding: 1em 0;
  font-weight: 700;
}

.sidebar-content h3 {
  font-size: 14px;
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebar-content li {
  font-size: 0.9em;
}

.sidebar-content p,
.sidebar-content div {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 1.5;
  font-weight: 500;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 570px) {
  .page-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .page-img {
    grid-column: 1 / -1;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 60vh;
  }

  .page-sidebar {
    grid-column: span 1;
    background-color: #dad8cc;
    margin-top: unset;
  }

  @media screen and (max-width: 767px) {
    .sidebar-content {
      width: 80%;
      margin: auto;
      padding-bottom: 10px;
      padding: 1rem 0;
    }

    .sidebar-content a {
      text-decoration: none;
      color: black;
    }

    .sidebar-content h2 {
      font-size: 14px;
      padding-bottom: 10px;
    }

    .sidebar-content p {
      font-size: 11px;
    }

    .page-sidebar {
      grid-column: span 1;
      background-color: #dad8cc;
    }

    .h2 {
      font-size: 1.1em;
      padding-bottom: 1rem;
    }

    .page-main {
      grid-column: span 1;
      width: 100%;
    }
  }
}
