/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.content {
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.content-wrapper {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.valpar-h1 a {
  color: black;
  font-weight: 400;
  text-transform: uppercase;
}

.wp-block-heading {
  font-weight: 700;
  padding-top: 1em;
  font-size: 20px;
  padding-bottom: 5px;
}

.entry-content,
.entry-header {
  width: 80%;
  margin: auto;
}

.arets-pudel-heading {
  padding-bottom: 8px;
  font-size: 22px;
}

ul {
  padding-left: 1.2em;
  line-height: 1.3;
}

.omplacering-h1 {
  padding-top: 1em;
  font-weight: 200;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 1.5em;
}

.ptb_wrap {
  padding-top: 5%;
}

.single-ptb-img {
  max-height: 200px;
}

.ptb-search-form input[type='submit'] {
  padding: 1.3em 3em;
}

.aktivitet-header {
  font-size: 28px;
  font-weight: 700;
  text-transform: unset;
}

.aktivitet-info {
  text-transform: uppercase;
}

.ptb_text_before {
  font-weight: 700;
}

.ptb-submission-submit-btn,
.single_add_to_cart_button button alt {
  padding: 1.3em 3em;
  color: white;
  background-color: #437181 !important;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
}

.woocommerce span.onsale {
  background-color: #437181;
}

.ptb_submission_post_edit,
.ptb_submission_post_delete {
  font-weight: 700;
  font-size: 1.1em;
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme))
  ul.products
  li.product
  .price,
.woocommerce-variation-price,
.price {
  color: black !important;
  font-weight: 400;
}

.woocommerce ul.products li.product .button,
.single_add_to_cart_button button {
  background-color: #437181;
  color: white;
}

body:not(.woocommerce-block-theme-has-button-styles)
  .wc-block-components-button:not(.is-link) {
  background-color: #437181;
  color: white;
}

.wp-block-button__link {
  background-color: #437181;
  color: white;
}

.button-primary {
  background-color: #437181;
  color: white;
  padding: 1em 1em;
  border: none;
  border-radius: 16px;
}

@media screen and (min-width: 900px) {
  .arets-pudel-heading {
    padding-bottom: 1em;
  }

  .ptb_module img {
    max-height: 200px;
    width: auto;
    object-fit: cover;
  }
}
