/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.content {
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.content-wrapper {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.valpar-h1 a {
  color: black;
  font-weight: 200;
  text-transform: uppercase;
}

.ptb_text_before {
  text-transform: uppercase;
  font-weight: 200;
}

.wp-block-heading {
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 1em;
}

.entry-content,
.entry-header {
  width: 80%;
  margin: auto;
}

.arets-pudel-heading {
  padding-bottom: 8px;
  font-size: 22px;
}

.puppies {
  padding-top: 3em;
  width: 80%;
  margin: auto;
}

.hanvisning-right {
  background-color: #437181;
  color: white;
  padding: 2em;
}

.hanvisning-left {
  background-color: #a1b8c0;
  padding: 2em;
}

.hanvisning-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.hanvisning-h1 {
  font-size: 32px;
}

.hanvisningscontent {
  width: 80%;
  margin: auto;
}

.searchbtn {
  width: 200px;
  height: 1.5em;
}

@media screen and (min-width: 900px) {
  .arets-pudel-heading {
    padding-bottom: 1em;
  }

  .ptb_module img {
    max-height: 200px;
    width: auto;
    object-fit: cover;
  }

  .hanvisning-wrapper {
    height: 30vh;
    flex-wrap: nowrap;
  }

  .hanvisning-left {
    background-color: #a1b8c0;
    padding: 2em;
  }

  .puppies {
    width: 80%;
    margin: auto;
  }
}
