/* General Styles */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,200;0,400;0,600;1,200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
}

.content {
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.content-wrapper {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
}

.carousel-header {
  font-size: 24px;
  font-weight: 600;
}

.carousel-text {
  font-size: 14px;
  margin: 10px 0;
}

.valpar-h1 a {
  color: black;
  font-weight: 200;
  text-transform: uppercase;
}

.ptb_text_before {
  text-transform: uppercase;
  font-weight: 200;
}

.wp-block-heading {
  font-weight: 200;
  text-transform: uppercase;
  padding-top: 1em;
}

.entry-content,
.entry-header {
  width: 80%;
  margin: auto;
}

.arets-pudel-heading {
  padding-bottom: 8px;
  font-size: 22px;
}

@media screen and (min-width: 900px) {
  .arets-pudel-heading {
    padding-bottom: 1em;
  }

  .ptb_module img {
    max-height: 200px;
    width: auto;
    object-fit: cover;
  }
}
